<br /> 
  <div class="container">
  <form action="/insert_prod" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome  </label>
    <input type="name" class="form-control" id="nome" aria-describedby="emailHelp" name="nome">
    
    <label for="exampleInputEmail1" class="form-label">Preço</label>
    <input type="number" class="form-control" id="preco" aria-describedby="emailHelp" name="preco">
  </div>
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Imagem URL</label>
  </div>
  <div class="col-auto">
    <input type="text" id="img" class="form-control" aria-describedby="passwordHelpInline" name="img">
  </div>
  <div class="col-auto">
  
    <br>
     <button type="submit" class="btn btn-outline-dark">Cadastrar</button>
      </div>
  </form>
  </div>
